@import url('./__heading/__heading.css');
@import url('./__text/__text.css');
@import url('./__shadow/__shadow.css');

.additional__item{
    width: 284px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
}