.footer__copyright{
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px 0px 48px 0px;
}

@media screen and (max-width: 700px){
    .footer__copyright{
        margin: 16px 0px 24px 0px;
    }
}