@import url('./sub-ul/sub-ul.css');

.intro__text-sub{
    font-family: Inter;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 92px;
}

@media screen and (max-width: 375px){
    .intro__text-sub{
        font-size: 12px;
        line-height: 19px;
    }
}